
body {
    background-color: #123b53;
}
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.animate-charcter
{
  background-image: linear-gradient(
    -100deg,
    rgb(145, 145, 250) 20%,      
    rgb(92, 75, 249) 29%,
    rgb(124, 124, 240) 47%,
    #00ceff 30%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-family: 'Monoton', cursive;
  word-spacing: 10px;
  text-align: center;
      font-size: 40px;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

ul {
    list-style: none;
    color: white;
    font-size: 18px;
    width: 90%;
}

li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: dashed 1px #00ceff;
}

span {
    margin-right: 30px;
}
.deletesBtn {
    background-color: #123b53;
    border: none;
    margin-left: 20px;
    float: right;
}

/* add button */
.button {
    display: flex;
    margin: 0 10px 0 10px;
    border: none;
    padding: 0;
}

.box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #00ceff;
    overflow: hidden;
}

.box:before {
    content: "N";
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
    color:   #00ceff ;
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'O';
    color: rgb(145, 145, 250);
}

.box:nth-child(3)::before {             
    content: 'T';
    color: rgb(145, 145, 250);
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'E';
    color: rgb(92, 75, 249);
}

.box:nth-child(5)::before {
    content: 'S';
    color:  rgb(124, 124, 240) ;
}

.button:hover .box:before {
    transform: translateY(0);
}

#form {
    display: flex;
    justify-content: center;
}

/* input */

.input-group {
    position: relative;
}

.input {
    border: 3px solid #00ceff;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    height: 2px;
}

.user-label {
    background-color: transparent;
    position: absolute;
    left: 15px;
    color: white;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 350ms;
    font-size: 12px;

}

.input:focus,
input:valid {
    outline: none;
    --angle: 0deg;
    border-bottom: 3px solid;
    border-image: conic-gradient(from var(--angle), blue, rgb(14, 1, 128), rgb(124, 124, 240), aqua, blue) 1;
    animation: 3s rotate9234 linear infinite;
}

@keyframes rotate9234 {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.input:focus~label,
input:valid~label {
    transform: translateY(235%) scale(1);
background-color: transparent;
    padding: 0.2em;
    color: white;
}

/* Delete all */

.buttonDelete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: #00ceff;
    border-radius: 50%;
    transition: all 0.2s linear;
    height: 40px;
    width: 40px;


}

.buttonDelete:hover {
    box-shadow: 3.4px 2.5px 4.9px #121723,
        8.6px 6.3px 12.4px #123b53,
        17.5px 12.8px 25.3px #156d90,
        36.1px 26.3px 52.2px #1fa9d8,
        99px 72px 143px #20dad8;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

path {
    fill: white;
}